@font-face {
  font-family: 'Jurassic';
  src: url('jurassic_park.ttf'); /* IE9 Compat Modes */
}

body {
  background: #F0C27B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  border:2px solid black;
  margin-bottom:10px;
  margin-top:10px;
  background: #70e1f5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.titlediv {
  /*background-image:url("../images/bg1.jpg");
  background-attachment:fixed;
  background-repeat:none;*/
}

h1 {
  font-family: 'Jurassic', sans-serif;
  color:black;
  font-size:250px;
  text-align:center;
}

.card {
  border-radius:0;
  color:black;
}

#dinosaurdropdown select{
  background: #70e1f5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat:no-repeat;
  background-attachment: fixed;
}

.card:hover {
  font-weight:bold;
}

button:hover{
  font-weight:bold;
}

.dinoinfo {
  color:black;
  background-attachment:fixed;
  background-repeat:none;
}

#buttid {
  width:50%;
  font-size:15px;
  opacity:.5;
}

#buttid:hover {
  opacity:1;
}

#killid {
  float:right;
  width:50%;
  font-size:15px;
  opacity:.5;
}

#killid:hover {
  opacity:1;
  background-color:#bf93a6;
}

.dinoform {
  font-family: 'Oswald', sans-serif;
  font-size:20px;
  background-color:white;
  color:black;
}

input {
  background: #70e1f5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat:no-repeat;
  background-attachment: fixed;
  width:100%;
}

#adddinobutt {
  margin-left:15px;
  margin-bottom:15px;
}

.dinolist li {
  list-style:none;
}

 select {
  width:100%;
  text-align-last:center;
  background-color:beige;
}

.dinoeditinfo {
  width:100%;
  text-align:center;
  color:black;
}

.dinoeditinfo li {

}

.dinoeditinfo {
  font-family: 'Roboto', sans-serif;
  font-size:20px;
  color:white;
}

#editcard {
  color:white;
}

.dinoeditinfo2 {
  font-family: 'Oswald', sans-serif;
  font-size:20px;
  /*background-image:url("../images/bg1.jpg");
  background-attachment:fixed;
  background-repeat:none;*/
  color:black;
  padding-top:15px;
}

.dinoeditinfo2 button {
  margin-left:15px;
  margin-top:15px;
  margin-bottom:15px;
}

.dinoinfolist {
  font-family: 'Roboto', sans-serif;
  font-size:20px;
  background-color:white;
  color:black;
  color:white;
}

.col-md-4 {
  padding-left: 0px;
  padding-right: 0px;
}

.col-md-8 {
  padding-left:0px;
  padding-right:0px;
}

.col-md-6 {
  padding-left:15px;
  padding-right:15px;
  opacity:1;
}

.col-md-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.ng-untouched {
  margin-bottom:0px;
}

.row {
  margin:0px;
  margin-top:0px;
}

h3 {
  margin-top:0px;
}

p {
  color:black;
  margin-bottom: 0px;
  font-family: 'Oswald', sans-serif;
}

h4 {
  margin-bottom:0px;
  padding-bottom:0px;
}

.card-header {
  background-color:beige;
}
