body {
  background-color:grey;
}


#inputleft {
  float:left;
}

#inputright {
  float:right;
}

.dinoinfo {
  background-color:orange;
}

.dinoform {
  background-color:lightCyan;
  font-family: 'Roboto', sans-serif;
  font-size:20px;
}

#adddinobutt {
  margin-left:15px;
  margin-bottom:15px;
}

.dinolist li {
  list-style:none;
}
.dinoeditinfo {
  background-color:darkGreen;
  font-family: 'Roboto', sans-serif;
  font-size:20px;
}

.dinoeditinfo2 {
  background-color:lightGreen;
  font-family: 'Roboto', sans-serif;
  font-size:20px;
}

.dinoinfolist {
  background-color:beige;
  font-family: 'Roboto', sans-serif;
  font-size:20px;
}

.col-md-4 {
  padding-left: 0px;
  padding-right: 0px;
}

.col-md-8 {
  padding-left:0px;
  padding-right:0px;
}

.col-md-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.ng-untouched {
  margin-bottom:0px;
}

.row {
  margin:0px;
  margin-top:0px;
}

h3 {
  margin-top:0px;
}

p {
  margin-bottom: 0px;
}
